.banner {
    box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.6);

    p {
        font-size: 20px;
        padding: var(--margin-normal-3);
        text-align: center;
    }
}

.flight-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    app-flight-stats {
        min-width: 45%;
    }
}

