<div class="banner">
    <p>You are current. Happy flying!</p>
</div>
<section>
    <h2>Flight Stats</h2>
    <div class="flight-stats">
        <div class="stats-container">
            <div class="stat">
                <div>100</div>
                <div>Hours</div>
            </div>
            <div class="stat">
                <div>40</div>
                <div>Landings</div>
            </div>
        </div>
        <div class="stats-container night">
            <div class="stat">
                <div>100</div>
                <div>Hours</div>
            </div>
            <div class="stat">
                <div>40</div>
                <div>Landings</div>
            </div>
        </div>
    </div>
</section>