.banner {
    box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.6);

    p {
        font-size: 20px;
        padding: var(--margin-normal-3);
        text-align: center;
    }
}

.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .stat {
        box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 2em 0;
        min-width: 45%;
        border-radius: 5%;
        // The number
        div:first-child {
            font-size: 30px;
            font-weight: 700;
            padding-bottom: .2em;
        }

        // The category
        div:last-child {
            font-size: 20px;
            font-weight: 500;

        }


    }
}
